// FONT STACKS

// Initial idea based on Bedrock's font-stacks partial
// Large re-factor based on "Revised Font Stacks" by Amrinder Sandhu - http://www.awayback.com/revised-font-stack/

// Notes:
//
//    Some of the fonts, like: Garamond, Baskerville and Didot are not as readable on screen as Georgia. Feel free to make your own selection.
//    Due to smaller x-height; Caslon, Didot, Garamond, Baskerville and Hoefler Text should be set at minimum of 14 pixels or above.
//    Lucida Grande, Futura and Tahoma are mechanically obliqued to fake an italic.
//    Geneva, Baskerville Old Face and Big Caslon has no bold and italic. They are faked to bold and italic.
//    Avoid using Helvetica or Helvetica Neue for body text, especially below 14px.
//    Futura, Gill Sans and Franklin Gothic Medium should be carefully stacked and used because of their unusual weight.

// Default fonts
$default-sans-serif: "Helvetica" !default;
$default-serif: "Georgia" !default;
$default-monospace: false !default;

// Fail-safe
$default-font-family: $default-sans-serif !default;

// The 'family' var
$family: $default-font-family !default;

@import "font-stacks/function";
@import "font-stacks/mixin";

