@mixin font-family($family, $weight: normal) {
  font-family: font-family($family);
  font-weight: $weight;
}

@mixin ff($family, $weight: normal) {
  @include font-family($family);
  font-weight: $weight;
}
