// $default-monospace: Menlo, "DejaVu Sans Mono", Monaco, Consolas, Courier, monospace

@import compass/reset

// Compass extension
@import "../../stylesheets/font-stacks"
@import "grid-coordinates"

.grid-container
  +grid-container

.grid-full
  +grid-full
  
h1
  +font-family("Gill Sans")
  font-size: 28px
  font-weight: bold
  letter-spacing: -1px
  text-transform: uppercase
  margin: 75px 0

.family
  border-bottom: 3px dashed #aaa
  font-size: 26px
  margin-bottom: 70px
  padding-bottom: 70px

.super-size
  font-size: 110px
  margin-top: 30px

.base
  line-height: 1.5
  font-size: 30px
  margin-bottom: 0

.normal
  @extend .base
  font-weight: normal

.bold
  @extend .base
  font-weight: bold

.italic
  @extend .base
  font-style: italic

//
// Serif
//

.garamond
  font-family: font-family("Garamond")
  +font-family("Garamond")
.lucida-bright
  font-family: font-family("Lucida Bright")
  +font-family("Lucida Bright")
.palatino
  font-family: font-family("Palatino")
  +font-family("Palatino")
.big-caslon
  font-family: font-family("Big Caslon")
  +font-family("Big Caslon")
.didot
  font-family: font-family("Didot")
  +font-family("Didot")
.baskerville
  font-family: font-family("Baskerville")
  +font-family("Baskerville")
.hoefler-text
  font-family: font-family("Hoefler Text")
  +font-family("Hoefler Text")
.bodoni-mt
  font-family: font-family("Bodoni MT")
  +font-family("Bodoni MT")
.goudy-old-style
  font-family: font-family("Goudy Old Style")
  +font-family("Goudy Old Style")
.constantia
  font-family: font-family("Constantia")
  +font-family("Constantia")
.cambria
  font-family: font-family("Cambria")
  +font-family("Cambria")
.book-antiqua
  font-family: font-family("Book Antiqua")
  +font-family("Book Antiqua")
.times
  font-family: font-family("Times")
  +font-family("Times")

//
// Sans-serif
//

.optima
  font-family: font-family("Optima")
  +font-family("Optima")
.futura
  font-family: font-family("Futura")
  +font-family("Futura")
.gill-sans
  font-family: font-family("Gill Sans")
  +font-family("Gill Sans")
.trebuchet-ms
  font-family: font-family("Trebuchet MS")
  +font-family("Trebuchet MS")
.helvetica-neue
  font-family: font-family("Helvetica Neue")
  +font-family("Helvetica Neue")
.verdana
  font-family: font-family("Verdana")
  +font-family("Verdana")
.lucida-grande
  font-family: font-family("Lucida Grande")
  +font-family("Lucida Grande")
.geneva
  font-family: font-family("Geneva")
  +font-family("Geneva")
.segoe
  font-family: font-family("Segoe")
  +font-family("Segoe")
.candara
  font-family: font-family("Candara")
  +font-family("Candara")
.calibri
  font-family: font-family("Calibri")
  +font-family("Calibri")
.franklin-gothic-medium
  font-family: font-family("Franklin Gothic Medium")
  +font-family("Franklin Gothic Medium")
.tahoma
  font-family: font-family("Tahoma")
  +font-family("Tahoma")

//
// Monospace
//

.monospace
  font-family: font-family(monospace)
  +font-family(monospace)

//
// Error handling
//

.mis-spelled
  font-family: font-family("Garamonds")
  +font-family("Garamonds")

.empty-value
  font-family: font-family()
  +font-family()
