// Compass extension
@import "../../stylesheets/font-stacks"

//
// Serif
//

.garamond
  font-family: ff(Garamond)
.lucida-bright
  font-family: ff("Lucida Bright")
.palatino
  font-family: ff(Palatino)
.big-caslon
  font-family: ff("Big Caslon")
.didot
  font-family: ff(Didot)
.baskerville
  font-family: ff(Baskerville)
.hoefler-text
  font-family: ff("Hoefler Text")
.bodoni-mt
  font-family: ff("Bodoni MT")
.goudy-old-style
  font-family: ff("Goudy Old Style")
.constantia
  font-family: ff(Constantia)
.cambria
  font-family: ff(Cambria)
.book-antiqua
  font-family: ff("Book Antiqua")

//
// Sans-serif
//

.optima
  font-family: ff(Optima)
.futura
  font-family: ff(Futura)
.gill-sans
  font-family: ff("Gill Sans")
.trebuchet-ms
  font-family: ff("Trebuchet MS")
.helvetica-neue
  font-family: ff("Helvetica Neue")
.verdana
  font-family: ff(Verdana)
.lucida-grande
  font-family: ff("Lucida Grande")
.geneva
  font-family: ff(Geneva)
.segoe
  font-family: ff(Segoe)
.candara
  font-family: ff(Candara)
.calibri
  font-family: ff(Calibri)
.franklin-gothic-medium
  font-family: ff("Franklin Gothic Medium")
.tahoma
  font-family: ff(Tahoma)

//
// Monospace
//

.monospace
  font-family: ff(monospace)
